.discoverProduct {
  /* border: 1px solid red; */
  text-align: center;
  font-family: "Simplon Norm";
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.title {
  font-size: 60px;
  font-weight: 400;
}

.subheading {
  font-size: 22px;
  width: 60%;
  margin: auto;
  line-height: 40px;
}

.itemCountFilter {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(214, 214, 214);
  border-bottom: 2px solid rgb(211, 211, 211);
  padding: 1rem 0;
  font-size: 16px;
  margin-bottom: 2rem;
}

.itemCountFilterleft {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.count {
  font-weight: 700;
}
.filtertoggle {
  color: #888792;
  text-decoration: underline;
  cursor: pointer;
}
.recomSelect {
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem;
  text-align: end;
}

.productNFilterContainer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.filterContainer {
  width: 30%;
}
.filterContainer > div {
  padding: 1rem 0;
  border-bottom: 2px solid rgb(211, 211, 211);
}

.category {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.category > div {
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.selected {
  font-weight: bold;
}

.unselected {
  font-weight: normal;
}

.productListingContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.productListingContainer2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
