.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.logoContainer {
  overflow: hidden;
}

.appscrip {
  margin-left: 10rem;

  font-weight: 700;
  font-family: sans-serif;
}

.icons {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
}

.icons select {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.navbarContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
  font-weight: bolder;
  padding-bottom: 1rem;
  border-bottom: 2px solid #d7d7d7;
}

.navbarContainer2 div:hover {
  border-bottom: 1px solid black;
}
